---
# Lunr search page
layout: page
custom-foot: js/lunr-js.html
---

{%- assign fields = site.data.config-search | where: 'index',true | map: 'field'
-%}
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-outline-primary float-end"
  data-bs-toggle="modal"
  data-bs-target="#operators"
>
  Opciones de búsqueda
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="operators"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h4" id="modalLabel">
          Opciones de búsqueda de Lunr
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Puedes añadir estas opciones avanzadas a tu consulta en la caja de
          búsqueda para afinar los resultados:
        </p>
        <ul>
          <li>
            Buscar en un campo específico: usa el nombre del campo, dos puntos y
            luego tu consulta, por ejemplo <code>title:foo</code>,
            <code>date:1911</code>, <code>subject:tree</code>. En esta colección
            puedes usar {{ fields | join: ", " }}.
          </li>
          <li>
            Comodines: añade <code>*</code> para coincidir con cualquier
            carácter, por ejemplo <code>foo*</code>, <code>*oo</code>. Esto
            ayuda a usar una raíz para encontrar palabras con terminaciones
            relacionadas.
          </li>
          <li>
            Búsqueda difusa: añade <code>~</code> más un número al final de la
            consulta para indicar un mayor nivel de tolerancia, por ejemplo
            <code>foo~1</code>. Esto ayuda con errores ortográficos.
          </li>
          <li>
            Priorizar términos: añade <code>^</code> más un número para aumentar
            la relevancia de un término en la consulta, por ejemplo
            <code>foo^10</code>. Esto puede reducir el ruido si uno de los
            términos es el más importante.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ content }}

<div class="mt-3">
  <form
    role="search"
    id="lunrSearch"
    onsubmit="
      lunr_search();
      return false;
    "
  >
    <div class="input-group input-group-lg">
      <input
        aria-label="Términos de búsqueda"
        id="searchBox"
        class="form-control"
        type="text"
        placeholder="Introduce tu búsqueda..."
      />
      <button class="btn btn-success" type="submit">Buscar</button>
    </div>
  </form>

  <div id="searchResults" class="my-3"></div>
</div>
